---
import type { Skill } from "@/types";
import Icon from "../Icon.astro";
import SkillProgress from "./SkillProgress.astro";
interface Props {
  skill: Skill;
}

const { skill } = Astro.props;
---

<div class="">
  <h5 class="mb-3 text-base font-semibold text-[var(--gray-100)] md:text-xl">
    {skill.field}
  </h5>
  <p class="text-sm font-normal text-[var(--gray-500)]">
    {skill.description}
  </p>
  <ul class="mb-2 mt-4 space-y-3">
    {
      skill.fieldSkill.map((singleSkill) => (
        <li>
          <a
            href={singleSkill.link}
            target="_blank"
            class="flex items-center py-3 px-4 text-base font-bold text-[var(--gray-100)] rounded-lg bg-[var(--gray-800)] hover:bg-[var(--gray-500)] group hover:shadow "
          >
            <Icon
              icon={singleSkill.icon}
              viewBox={
                singleSkill.icon !== "astro" ? "0 0 128 128" : "0 0 85 107"
              }
            />
            <label id="skillname" class="flex-1 ms-3 whitespace-nowrap">
              {singleSkill.name}
            </label>
            <SkillProgress
              progress={singleSkill.xp}
              color={singleSkill.color}
            />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  a #skillname {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  a:hover #skillname,
  a:hover #skillname {
    text-decoration-color: currentColor;
  }
</style>
